.bgimage {
    height:100vh;
    background: url('images/stolen_hero.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.imageAboutPage {
   width: 80%;
}
.img-rounded {
   border-radius: 25%
}
.navbarScroll.navbarDark {
   background-color: black;
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fab {
    color: #008000;
}
#footer {
    background-color: black;
    text-align: center;
}
#about, #services {
   margin-top: 4rem;
   padding-top: 4rem;
}
#contact {
   padding-bottom: 4rem;
}
.marginauto {
   margin: 10px auto 20px;
   display: block;
}
